<h1>Editing Menu Item</h1>


<%= render template: 'menu_items/show.html.erb' %>
<%= render 'form', menu_item: @menu_item %>

<%= link_to 'Show', @menu_item %> |
<%= link_to 'Back', menu_items_path %>
