<center><h2>Edit Profile Information</h2></center>

<%= render 'form', user: @user %>
<br>
<br>
<center><%= link_to 'Edit Username/Password', edit_user_registration_path, class: "acctsettings" %></center>
