<br><center><h2 class="whatever">Edit Profile Information</h2></center><br />

<%= render 'form', user: @user %>
<br>
<br>
<center><%= link_to 'Edit Username/Password', edit_user_registration_path, class: "acctsettings" %></center>
