<div class="allPagesHeader"><div class="plentyHeader"><i class="fa fa-globe" aria-hidden="true"></i>PLENTY</div>
		<span class="allPagesHeaderText"><em>save food, save money and save the planet.</em></span>
	</div>

<% if current_restaurant %>
	<div class="choose_option_forms container">
	<h1 class="choosing-option-title">Closing soon?<br> Have extra food? <br> Just choose an option below, we'll take care of the rest.</h1>

		<div class="col-md-6" id="border-option">
			
			<h3 class="choosing-option-subtitle-1">Lower your prices here and watch that food go.</h3>

			      <div class="modal-body-discount-form">
						<%= render partial: 'discounts/form', locals: {discount: Discount.new}, remote: true %>
			      </div>
		</div>
		<div class="col-md-6">
			<h3 class="choosing-option-subtitle-2">Help Contribute in feeding those in need. Request a pick up and we'll swing by.</h3>
				
			<%= link_to pick_ups_path(:json), method: :post, remote: true do %> 
		      <div class="button-request-pick-up">
		      		<input value="Request a Pick-up" type="submit" />
		      </div>
		     <% end %>
		 </div>

	</div>
<% end %>

<script type="text/javascript">
	var request, message;
	request = document.querySelector('.button-request-pick-up');
	message = document.querySelector('.choosing-option-subtitle-2');
	request.addEventListener('click', function(){
		request.style.display = 'none';
		message.innerText = "Thank You for your donation! One of our Plenty employees will be there shortly to pick up your donation. A confirmation email has been sent to you as well."
	})
</script>