<% if current_restaurant %>
	<div class="choose_option_forms">
		<h1>Closing soon? Have extra food? Just choose an option below, we'll take care of the rest.</h1>

		<h3>Lower your prices here and watch that food go.</h3>
				<%= render partial: 'discounts/form', locals: { discount: Discount.new }  %>

		<h3>Help Contribute in feeding the homeless. Request a pick up.</h3>
			<form id="modal_for_requesting_pick_up">
				<button>Pick Up</button>
			</form>
	</div>
<% end %>
