$gray: #72777C;
$teal: #1BDD8F;
$darker-green: #33825D;
$blue: #267FA2;
$white: #FFFFFF;

$big-font: "roboto";
$medium-font: "sarala";
$small-font: "source sans pro";

// -------------------------------

#nav-icon3 {
  margin: 0px;
  padding: 0px; 
  z-index: 1;
}

.allPagesHeader {
  width: 80%;
  padding-bottom: 10px;
  position: absolute;
  top: 5%;
  left: 2%;
  z-index: 2;
  font-size: 30px;

  i {
    vertical-align: text-bottom;
  }

  .plentyHeader {
    letter-spacing: 25px;
    padding-bottom: 1%;
    padding-left: 5px;
  }

  .allPagesHeaderText {
    font-size: 14px;
  }
}

 #nav-icon3 {
  width: 60px;
  height: 45px;
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 #nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $blue;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.open {
    transform: translateX(0)!important
  }
.nav-bar-options{
    background-color: $gray;
    opacity: 0.95;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.6s ease;

    li {
      padding: 10%;
      list-style: none;
      flex-direction: column;
      font-size: 300%;
      opacity: 1;
    }
    li a:hover{
      color: $blue;
      opacity: 1;
    }
    li a {
      color: white;
      opacity: 1;
      text-decoration: none;
    }
  }

@media (max-width: 500px) {
  .nav-bar-options{
    padding-top: 10%;
    opacity: 0.99;
    li{
      padding: 13%;
    }
  }
}

@media (min-width: 800px) {
  .nav-bar-options{
    li{
      padding: 6%;
    }
  }
}

@media (max-width: 405px) {
  .nav-bar-options{
    li{
      font-size: 220%;
    }
  }
}

@media (max-width: 570px) {

  .allPagesHeader {
  font-size: 20px;
  margin-top: -2%;

  i {
    vertical-align: text-bottom;
  }

  .plentyHeader {
    letter-spacing: 10px;
  }

  .allPagesHeaderText {
    font-size: 10px;
  }
 }


 .restaurantHome {
  padding-top: 10%;
 }

 .menuItemEditHeader {
  padding-top: 5%;
 }

 .navContain {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100px;
  background-color: $gray;
  position: fixed;
  top: 0;
}
}

