// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #72777C;
$teal: #1BDD8F;
$darker-green: #33825D;
$blue: #267FA2;
$white: #FFFFFF;

$big-font: "roboto";
$medium-font: "sarala";
$small-font: "source sans pro";

#map{
	height: 700px;
	width: 500px
}

#address-panel{
	margin-bottom: 40px;
}

.fav-btn i:hover {
	font-size: 35px;
}

.restaurantHome {

	font-family: $medium-font;
	width: 100%;
	text-align: center;

	h1 {
		font-size: 3vw;
		color: $darker-green;
	}

	.restaurantInfo a,
	.restaurantInfo i {
		margin-top: 1%;
	}

	.restaurantInfo,
	.favStatus,
	.restaurantInfo a,
	.fav-btn i {
		font-size: 1.2vw;

	}

	p {
		font-size: 20px;
	}

	p,
	.restaurantHomeMenu h2,
	.restaurantHomeMenu p {
		font-family: $medium-font;
	}

	img {
		max-width: 100%;
		min-width: 50%;
		max-height: 100%;
		min-height: 50%;
		margin-bottom: 5%;
	}
}

@media (max-width: 1360px) {
	.restaurantHome {

		h1 {
			font-size: 4.2vw;
		}

		.restaurantInfo,
		.favStatus,
		.restaurantInfo a,
		.fav-btn i {
			font-size: 1.6vw;

		}
	}
}

@media (max-width: 815px) {
	.restaurantHome {

		h1 {
			font-size: 5vw;
		}

		.restaurantInfo,
		.favStatus,
		.restaurantInfo a,
		.fav-btn i {
			font-size: 2vw;

		}
	}
}

@media (max-width: 600px) {
	.restaurantHome {

		h1 {
			font-size: 6vw;
		}

		.restaurantInfo,
		.favStatus,
		.restaurantInfo a,
		.fav-btn i {
			font-size: 3.5vw;

		}
	}
}

.restaurantHomeMenu {
		font-family: $medium-font;
		width: 100%;
		text-align: center;

		button {
			background-color: $blue;
			color: white;
			border: none;
			font-size: 20px;
			padding: 5px 10px;
			width: 250px;
		}

		h2 {
			margin-bottom: 1%;
			font-size: 40px;
		}
}

.restaurantHomeMenuItems {
	position: relative;
	margin-top: 3%;

	.menuItemAppetizers,
	.menuItemMainDishes,
	.menuItemDesserts,
	.menuItemDrinks {
		position: absolute;
		width: 100%;
		text-align: center;
		transition: .3s ease;
		margin-bottom: 5%;

		h3 {
			font-size: 35px;
			font-style: italic;
			margin-bottom: 2%;
		}

		strong, p {
			font-family: $small-font;
		}

		strong {
			font-size: 20px;
			margin-right: 1%;
		}

		p {
			font-size: 16px;
		}
	}

	.menuItemMainDishes,
	.menuItemDesserts,
	.menuItemDrinks {
		opacity: 0;
		transition: .3s ease;
	}
}